apiVersion: v1
kind: Secret
metadata:
  annotations:
    tekton.dev/docker-0: "https://quay.io"
  name: k8snativedev-tekton-pull-secret
data:
  .dockerconfigjson: <YOURBASE64ENCODEDSTRINGOFTHEAUTHJSON>
type: kubernetes.io/dockerconfigjson